<!DOCTYPE html>

<html>
    <head>
        <title>RPG - {% block title %}Work in progress!{% endblock %}</title>
    </head>

    <body>
        <div>
            {% block body_block %}{% endblock %}
        </div>

        <hr />

        <div>
        <ul>
    {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
        <li><a href="{% url 'register' %}">Register Here</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
    <li><a href="{% url 'index' %}">Home</a></li>
</div>
    </body>
</html>