{% extends 'rpg/gamebase.html' %}

{% block body_block %}
  {% if user.is_authenticated %}
<style>
.monhealth-bar {
  background: #c54;
  width: {{ monhp }}%;
  height: 10px;
  position: relative;
}
</style>


<div class="container">
  <div class="jumbotron">
    <h1>{{ monster.name }}</h1>
   <img src={{ MEDIA_URL }}{{ monster.picture }} alt={{ monster.name }} width="300" height="300" />
<div class="bar" data-total={{ monster.maxHP }} data-value={{ mhp }}>
  <div class="monhealth-bar">
  </div>
  </div>
{{ mhp }} / {{ monster.maxHP }}
</div>

<ul class="list-group">
{% if action %}
  <li class="list-group-item">
<p> You did {{ damage }} to the monster </p>
<p> the monster did {{ mdamage }} to you </p>
{% endif %}
{% if victory %}
<p> With a final blow you slay the monster! </p>
<p> You gain {{ monster.baseXP }} experience </p>
{% if dropped %}
<p> The monster dropped: {{ drops }} </p>
{% endif %}
 <form action="" method="post">
{% csrf_token %}
<input type="submit" name="continue" value="Continue" />
</form>
{% else %}
     <form action="" method="post">
{% csrf_token %}
<input type="submit" name="attack" value="Attack" />
</form>
{% endif %}
</li>
</ul>
{% else %}
	<div>
	<h1> Please log in to play randaquest </h1>
	</div>
{% endif %}
{% endblock %}