{% extends 'rpg/gamebase.html' %}

{% block body_block %}
  {% if user.is_authenticated %}
<style>
.monhealth-bar {
  background: #c54;
  width: {{ monhp }}%;
  height: 10px;
  position: relative;
}
</style>


<div class="container">
  <div class="jumbotron">
    <h1>{{ monster.name }}</h1>
   <img src={{ MEDIA_URL }}{{ monster.picture }} alt={{ monster.name }} width="300" height="300" />
<div class="bar" data-total={{ monster.maxHP }} data-value={{ mhp }}>
  <div class="monhealth-bar">
  </div>
  </div>
{{ mhp }} / {{ monster.maxHP }}
</div>

<ul class="list-group">
{% if action %}
    <li class="list-group-item">
	{% if miss %}
		<p> You missed! </p>
		<p> the monster did {{ mdamage }} damage to you </p>
	{% else %}
		{% if crit %}
			<p> <strong> Critical!</strong> </p>
		{% endif %}
		<p> You did {{ damage }} damage to the monster </p>
		<p> the monster did {{ mdamage }} damage to you </p>
	{% endif %}
{% endif %}
	{% if victory %}
		<p> With a final blow you slay the monster! </p>
		<p> You gain {{ monster.baseXP }} experience </p>
		<p> You received {{gold}} gold</p>
		{% if dropped %}
		<p> The monster dropped:
			{% for i in drops %}
			{{ i }}, 
			{% endfor %}
			 </p>
		{% endif %}
		<form action="" method="post">
			{% csrf_token %}
			<input type="submit" name="continue" value="Continue" />
		</form>
	{% else %}
		<form action="" method="post">
			{% csrf_token %}
			<input type="submit" name="attack" value="Attack" />
		</form>
	{% endif %}
</li>
</ul>
{% else %}
	<div>
	<h1> Please log in to play randaquest </h1>
	</div>
{% endif %}
{% endblock %}