{% extends 'rpg/gamebase.html' %}


{% block body_block %}
 {% if user.is_authenticated %}

<div class="container">
  <div class="jumbotron">
    <h1>Game over</h1> 
   <p> 'You feel the world slipping away as you fall to the ground breathless... In a flash of white brilliance you are reborn.'
  </div>
</div>
        <form action="" method="post" align="center">
{% csrf_token %}
<input type="submit" name="continue" value="Continue" />
</form>
{% else %}
	<div class = "container">
	<h1> Please log in to play randaquest </h1>
	</div>
{% endif %}
{% endblock %}