{% extends 'rpg/gamebase.html' %}


{% block body_block %}
 {% if user.is_authenticated %}

<div class="container">
  <div class="jumbotron">
    <h1>{{ area.name }}</h1>
    <p>{{ area.backstory }}</p>
    <p> Coordinates: {{char.coordX}},{{char.coordY}} </p> 
  </div>
</div>
<div class = "container">

        <form action="" method="post">
{% csrf_token %}
<input type="submit" name="n" value="North" />
<input type="submit" name="e" value="East" />
<input type="submit" name="s" value="South" />
<input type="submit" name="w" value="West" />
</form>
</br>
</div
{% else %}
	<div class = "container">
	<h1> Please log in to play randaquest </h1>
	</div>
{% endif %}
{% endblock %}